<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Property Vision - Offering exceptional Real estate Videography and Photography Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title"         content="{{tour.property.name}}" />
    <meta property="og:description"   content="{{tour.property.full_address}}" />
    <meta property="og:image"         content="{{tour.slider.image}}" />


    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <![endif]-->


      <!-- CSS Files
        ================================================== -->
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/css/jpreloader.css" type="text/css">
        <link rel="stylesheet" href="/css/animate.css" type="text/css">
        <link rel="stylesheet" href="/css/plugin.css" type="text/css">
        <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="/css/owl.theme.css" type="text/css">
        <link rel="stylesheet" href="/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">


        <!-- custom background -->
        <link rel="stylesheet" href="/css/bg.css" type="text/css">

        <!-- color scheme -->
        <link rel="stylesheet" href="/css/color.css" type="text/css" id="colors">

        <!-- load fonts -->
        <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.css" type="text/css">
        <link rel="stylesheet" href="/fonts/elegant_font/HTML_CSS/style.css" type="text/css">
        <link rel="stylesheet" href="/fonts/et-line-font/style.css" type="text/css">

        <!-- revolution slider -->
        <link rel="stylesheet" href="/rs-plugin/css/settings.css" type="text/css">
        <link rel="stylesheet" href="/css/rev-settings.css" type="text/css">
        <link rel="stylesheet" href="/css/font-style-2.css" type="text/css">


        <link rel="stylesheet" href="/css/custom.css" type="text/css">

        <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css" type="text/css">

        <!-- cropper -->
        <link  href="/cropper/dist/cropper.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/fullcalendar.min.css">

        {{{_sections.head}}}
  </head>

  <body id="homepage" class="de_light">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=157743568024234";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">

      <!-- header begin -->
      <header>
        <div class="info">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="col">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                <div class="col">Toll Free <span class="id-color"><strong>1800.899.900</strong></span></div>
                <!-- social icons -->
                <div class="col social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-rss"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-envelope-o"></i></a>
                </div>
                <!-- social icons close -->
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <!-- small button begin -->
              <span id="menu-btn"></span>
              <!-- small button close -->

              <!-- mainmenu begin -->
              <nav>
                <ul id="mainmenu">
                  <li><a href="#content">Home</a></li>
                  <li><a href="#section-portfolio">Gallery</a></li>
                  {{#if tour.display.panoramicImages}}
                    <li><a href="#virtual-tour">Virtual Tour</a></li>
                  {{/if}}
                  {{#if tour.display.property_details}}
                    <li><a href="#section-about">Property Details</a></li>
                  {{/if}}
                  {{#if tour.display.neighborhood}}
                    <li><a href="#neighborhood">Neighborhood</a></li>
                  {{/if}}
                  {{#unless mls}}
                    {{#if tour.display.agent_info}}
                      <li><a href="#agent-info">About Agent</a></li>
                    {{/if}}
                  {{/unless}}
                </ul>
              </nav>

            </div>
            <!-- mainmenu close -->

          </div>
        </div>
      </header>
      <!-- header close -->
      <div>
      {{{body}}}
      </div>

      <!-- footer begin -->
      <footer style="padding: 0;">
        <div class="subfooter" style="padding: 20px 0;">
          <div class="container">
            <div class="row">
              <div class="col-sm-6" style="padding-top:2px;">
                &copy; Copyright 2016 - Property Vision.
              </div>
              <div class="col-sm-6 text-right">
                <div class="fb-share-button"
                     data-layout="button" data-size="large" data-mobile-iframe="true">
                </div>
              </div>
            </div>
          </div>
        </div>

      </footer>
      <!-- footer close -->
    </div>
  </div>



    <!-- Javascript Files
      ================================================== -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/jpreLoader.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/jquery.isotope.min.js"></script>
      <script src="/js/easing.js"></script>
      <script src="/js/jquery.flexslider-min.js"></script>
      <script src="/js/jquery.scrollto.js"></script>
      <script src="/js/owl.carousel.js"></script>
      <script src="/js/jquery.countTo.js"></script>
      <script src="/js/classie.js"></script>
      <script src="/js/video.resize.js"></script>
      <script src="/js/validation.js"></script>
      <script src="/js/wow.min.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/enquire.min.js"></script>
      <script src="/js/designesia.js"></script>
      <script src="/js/jquery.datetimepicker.full.min.js"></script>

      <!-- SLIDER REVOLUTION SCRIPTS  -->
      <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
      <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


      <script src="/cropper/dist/cropper.min.js"></script>
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js" type="text/javascript" charset="utf-8"></script>

      <script src="/js/moment.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/fullcalendar.min.js" type="text/javascript" charset="utf-8"></script>

      <script src="/js/jquery.mask.min.js" type="text/javascript"></script>

      <script src="/js/custom.js"></script>

      {{{_sections.javascript}}}

  </body>
</html>
